<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="master" connectionString="DataSource=10.0.12.10;Database=tmp;uid=root;pwd=;MinPoolSize=5;MaxPoolSize=10;" providerName="MySql.Data.MySqlClient" />
    <add name="secondary1" connectionString="DataSource=10.0.12.10;Database=tmp;uid=root;pwd=;MinPoolSize=5;MaxPoolSize=10;" providerName="MySql.Data.MySqlClient" />
    <add name="secondary2" connectionString="DataSource=10.0.12.10;Database=tmp;uid=root;pwd=;MinPoolSize=5;MaxPoolSize=10;" providerName="MySql.Data.MySqlClient" />

    <!--<add name="master" connectionString="DataSource=10.0.10.150;Database=YanZhi;uid=YanZhi;pwd=2GrukMetEipNiO;Allow Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="secondary1" connectionString="DataSource=10.0.10.160;Database=YanZhi;uid=YanZhi;pwd=2GrukMetEipNiO;Allow Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="secondary2" connectionString="DataSource=10.0.10.160;Database=YanZhi;uid=YanZhi;pwd=2GrukMetEipNiO;Allow Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>